:root {
  --color-secondary: #6001d3;
  --color-primary: #fd346e;
  --color-background: #081420;
  --color-grey: #abafc7;
  --color-light: #fff;
  --color-background-grey: #192431;

  --animation-fast: 150ms;

  --shadow-focused: 0 0 4px 2px;
  --shadow-default: -15px 20px 40px 0;

  --font-family-primary: Quicksand, sans-serif;
  --font-family-secondary: Nunito, sans-serif;

  --font-size-x-large: 60px;
  --font-size-large: 40px;
  --font-size-medium: 20px;
  --font-size-small: 16px;
  --font-size-x-small: 14px;
}
